server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://gateway:3100/loki/api/v1/push

scrape_configs:
- job_name: trace
  static_configs:
  - targets:
      - localhost
    labels:
      job: logs
      __path__: /trace/trace.log
